/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-image: url("https://cdn.glitch.com/53b65446-4bb8-4d27-b58b-c56b629550b4%2Fpexels-nick-collins-1293125%20(1).jpg?v=1599647706155");
}

#DrwPge{
  display:none;
}


.heading{
  background-color:#A52C50;
  width:70%;
  padding:20px;
  margin:auto;
  margin-top:20%;
  color:white;
}
.navi{
    background:#A52C50;
    width:90%;
    margin:auto;
    
}
.navi a{
  border:none;
  color:white;
  font-size:1.2em;
  padding:5px;

}

.b_nav{
  background-color:#A52C50;
  border:none;
  color:white;
  font-size:1.2em;
  border-right:2px solid white;
}

.subPageHead{
  background-color:#A52C50;
  width:70%;
  padding:20px;
  color:white;
}

/* fiddle with the coloring and layout. Make the wording fit better and 
add in the image. Also add in right broder for navi spaceing. make sure to show working
and changes made in paper work. Screen Shots and keep track. 
Maroon Back = #A52C50 
Beige Back= #C6C1A5
Pinkie back= #FCE1D3
dark green back = #04622B
Blue back = # 0947B5*/