/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-image: url(https://cdn.glitch.com/53b65446-4bb8-4d27-b58b-c56b629550b4%2FEm-website-pic-optimised.jpg?v=1599543319645);
}



.heading{
  background-color:#C6C1A5;
  width:70%;
  padding:20px;
  margin:auto;
  margin-top:20%
}
.navi{
    background:#C6C1A5;
    width:90%;
    margin:auto;
    
}
.navi a{
  border:none;
  color:white;
  font-size:1.2em;
  padding:5px;

  
  
}

/* fiddle with the coloring and layout. Make the wording fit better and 
add in the image. Also add in right broder for navi spaceing. make sure to show working
and changes made in paper work. Screen Shots and keep track.*/