/* CSS files add styling rules to your content */
/*** MAIN STYLE ***/
body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  background-image: url("https://cdn.glitch.com/53b65446-4bb8-4d27-b58b-c56b629550b4%2FOptimsed-white-background-full.gif?v=1603150668302");
}

.container{
  width:100%;
  background-color:white;
  color:black;
}
/*** main style end ***/

/*** LANDING PAGE ***/

/*** LANDING NAV STYLE ***/
.mainheading{
  background-color:white;
  width:70%;
  padding:20px;
  margin:auto;
  margin-top:20%;
  color:black; 
}

.navi{
    background:white;
    width:90%;
    margin:auto;
    
}

.mainLogo{
  margin-right:15%;
  /*margin-bottom:10%;*/
  width:120px;
  float:right;
}

.b_nav{
  background-color:white;
  border:none;
  color:black;
  font-size:1.2em;
  border-right:2px solid black;
}
/*** landing nav style end ***/

/*** SUB PAGE STYLE ***/

/*** SUB NAVIGATION STYLE ***/
.header{
  background-image: url(https://cdn.glitch.com/53b65446-4bb8-4d27-b58b-c56b629550b4%2FOptimised-backgound-white-small.gif?v=1603150672526);
 color: black;
}/*** You can see the header lettering easier with flatter image. white and blue are options for this.***/

.subWordHead {
  background-color:white;
  padding:20px;
  margin:20px;
}

.subLogo{
  margin:15%;
  width:130px;
}
/*** sub navigation style end ***/

/*** INFO STYLE ***/
.infoHeader{
  margin-left:10%;
  margin-top:5%;
  float:left;
  border-bottom:2px solid black;
}

.info{
  margin-left:10%;
  font-size:20px;
}

.imgInfo{
  width:60%;
  margin-bottom: 5%;
}
/*** info style end ***/

/*** LINK STYLE ***/
.linkHeader{
  font-size:20px;
  margin-left:10%;
  margin-top:5%;
  float:left;
  border-bottom:2px solid black;
}

.linkInfo ul{
  list-style-type:none;
}
/*** link style end ***/

/*** FOOTER STYLE ***/
.footerStyle{
  background-image:url(https://cdn.glitch.com/53b65446-4bb8-4d27-b58b-c56b629550b4%2FOptimised-backgound-white-small.gif?v=1603150672526);
  color:white; 
}

.footerWord{
  background-color:white;
  color:black;
  padding:10px;
  margin-left:20%;
  margin-right:20%;
  margin-bottom:30px;
}
/*** footer style end ***/

/*** PHONE STYLE ***/
.phoneHome{
  display:none;
}

@media only screen and (max-width:600px){
  .subWordHead{
    display:none;
    
  }
  
  .phoneHome{
    display:block;
    background-color:white;
    color:black;
    font-size:2em;
    border:2px solid black;
    margin-left:10%;
    margin-top:30%;
  }
}
/*** Phone style end ***/

/*** PAGE BASIC DISPLAYS ***/

#drwPge{
  display:none;
}

#pntPge{
  display:none;
}


#mmPge{
    display:none;
}

#opPge{
   display:none;
}

#wcPge{
   display:none;
}

#ttsPge{
  display:none;
  
} 

/*** page basic display end ***/
